body {
    /* background: url("../images/lfz-background.jpg") no-repeat center center fixed; */
    background: #e5a76e5e;
    background-size: cover;
    margin: 2rem auto;
    height: 100%;
}


.header-container {

}

header {
    font-family: 'Baloo Bhaina 2', Cursive, Helvetica;
    font-size: 40px;
    height: 100%;
    width: 100%;
    text-align: center;
    color: cornflowerblue;
    text-shadow: 1px 1px aliceblue;
    font-weight: 800;
}

aside > div {
    padding: 1rem;
    text-align: center;
    background-color: white;
    margin: 7px 10px;
    width: 10vw;
    box-shadow: 5px 10px #2860CE;
    border-radius: 5px;
    color: #2860CE;
    justify-content: space-evenly;
}

.stats {
    background-color: #2f7bd3;
    padding: 1vw;
    box-shadow: 5px 10px #2860CE;
    border-radius: 5px;
    justify-content: space-evenly;
    margin: 2vw;
}

#game-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* flex-shrink: inherit ; */
}

/* main {
    justify-content: space-evenly;
    padding: 1%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
} */

/* main > div {
    height: 200px;
    margin: 0.5% 0.25%;
} */

/* .game-row {
    display: flex;
} */

.card-front, .card-back {
    height: 100%;
    width: 100%;
    position: absolute;
}

.card {
    /*width: 100%;*/
    flex-basis: calc(100% / 6);
    height: auto;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    flex-basis: content;
    width: 12vw;
}

.potato {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /* border: 1px solid #2f7bd3; */
    border-radius: 5px;
    height: 150px;
}

.card-back {
    background-image: url("../images/back-card.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /* border: 1px solid #2f7bd3; */
    border-radius: 5px;
    height: 150px;
}

.coding {
    background-image: url("../images/coding-potato.jpg");
}

.couch {
    background-image: url("../images/couch-potato.jpg");
}

.girl {
    background-image: url("../images/girl-potato.jpg");
}

.happy {
    background-image: url("../images/happy-potato.jpg");
}

.nerdy {
    background-image: url("../images/nerdy-potato.jpg");
}

.old {
    background-image: url("../images/old-potato.jpg");
}

.party {
    background-image: url("../images/party-potato.jpg");
}

.sassy {
    background-image: url("../images/sassy-potato.jpg");
}

.uhh {
    background-image: url("../images/uhh-potato.jpg");
}

.hidden {
    display: none;
}

#modal {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(0,0,0,0.4);
}

.modal-stuff {
    margin: auto;
    margin-top: 20%;
    width: 50%;
    height: 50%;
    padding: 8%;
    border: 5px solid #1ebcba;
    border-radius: 10px;
    background-color: #303a43;
    display: block;
    position: relative;
    border-style: outset;
}

p {
    font-family: Helvetica, Arial, sans-serif;
    margin: auto;
    font-size: 1.7rem;
    color: white;
    text-shadow: 3px 4px #1c2022;
}

#reset {
    font-size: 1.1rem;
    border-radius: 3px;
    background-color: #1ebcba;
    color: black;
    padding: 3%;
    margin: 5%;
    font-weight: 600;
    border: 2px white;
    border-style: outset;
}


/* iphone 5/6 */
@media (orientation: portrait){
    @media (max-width: 768px){
        #game-cards{
            flex-direction: column;
            width: 50%;
            margin: 1vw;
        }
        .stats {
            flex-direction: row;
        }
    }
}
/* ipad */
